@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.test {
    text-decoration-style: dotted;
}

.particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    transform: translate(-50%, -50%);
}

@layer base{
    .animated-text-color {
        /*
            From the Mars weather app project
            TODO change this to be shades of green maybe
         */

        color: white;
        background: repeating-linear-gradient(
                45deg,
                red 0%,
                yellow 7.14%,
                rgb(0, 255, 0) 14.28%,
                rgb(0, 255, 255) 21.4%,
                cyan 28.56%,
                blue 35.7%,
                magenta 42.84%,
                red 50%
        );
        background-size: 600vw 600vw;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

        animation: slide 10s linear infinite forwards;
    }

    @keyframes slide {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: 600vw;
        }
    }

    @keyframes rainbow-border {
        0%   { border-color: hsl(0, 100%, 50%); }   /* Red */
        14%  { border-color: hsl(60, 100%, 50%); }  /* Yellow */
        28%  { border-color: hsl(120, 100%, 50%); } /* Green */
        48%  { border-color: hsl(180, 100%, 50%); } /* Cyan */
        67%  { border-color: hsl(240, 100%, 50%); } /* Blue */
        85%  { border-color: hsl(300, 100%, 50%); } /* Magenta */
        100%  { border-color: hsl(360, 100%, 50%); } /* Red */
    }

    .rgb-border {
        border: 4px solid; /* Set the initial border */
        animation: rainbow-border 3s infinite linear; /* Apply the animation */
    }
}

.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}


.hidden-revealable {
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity .4s ease-in-out, transform 0.9s ease-in-out;
}

.slide-in-bottom {
    opacity: 1;
    transform: translateY(0);
}